<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="http://www.springframework.org/schema/beans 
    http://www.springframework.org/schema/beans/spring-beans.xsd 
    http://www.springframework.org/schema/context 
    http://www.springframework.org/schema/context/spring-context.xsd
    http://www.springframework.org/schema/mvc
    http://www.springframework.org/schema/mvc/spring-mvc.xsd">
    
    <bean id = "answ1" class = "com.test.Answer">
    
    	<property name="ans" value = "java is object oriented prog lang"></property>
    	<property name="author" value = "James"></property>
    	
    
    </bean>
    
     <bean id = "answ2" class = "com.test.Answer">
    
    	<property name="ans" value = "java is Multi threaded prog lang"></property>
    	<property name="author" value = "alekya"></property>
    	
    
    </bean>
    
     <bean id = "qst" class = "com.test.Qusetion" autowire="default">
    
    	<property name="id" value = "1"></property>
    	<property name="qname" value = "What is java"></property>
    	<property name="answ">
    		<list>
    			<ref  bean = "answ1"></ref>
    			<ref bean = "answ2"/> 

				
    		</list>
    		
    	</property>
    
    </bean>
    
     
</beans> 